<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
	<title>Selfie Camera Prototype</title>
</head>
<body ng-app="MyApp">
	<main ng-cloak class="ng-cloak">
		<nav ng-controller="NavController">
			<a class="buttonLink" ng-click="gotoCamera()">Take a Picture</a>
			<a class="buttonLink" ng-click="gotoPicture()">Edit Picture</a>
		</nav>
		<div id="AlertSection" ng-controller="AlertController">
			<alert class="fadeIn" ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>

		<div id="CameraView" ng-controller="CameraController" ng-show="showCamera">
			<section id="CameraSection">
				<div camera camera-api="cameraAPI" width="{{width}}" height="{{height}}" ></div>
			</section>
			<section id="CameraControls" class="controls">
				<a class="buttonLink" ng-disabled="isTakingPhoto" ng-click="takeSnapshot()" ng-href="#">Take Picture</a>
				<a class="buttonLink" ng-disabled="isTakingPhoto" ng-click="takeDelayedSnapshot()" ng-bind="delayedLabel"ng-href="#"></a>
<!--
				<input class="small" type="text" ng-model="width" keycontrol />
				<input class="small" type="text" ng-model="height" keycontrol />
-->
			</section>
		</div>

		<div id="PictureView" ng-controller="PictureController" ng-show="showPicture">
			<section id="PictureSection">
				<div picture picture-api="pictureAPI" width="{{picturewidth}}" height="{{pictureheight}}"></div>
			</section>
			<section id="PictureControls" class="controls">
				<textarea type="text" ng-focus="textFocus" ng-model="text"></textarea>
				<div>
				</div>
<!--
				<div>
					<input class="small" type="text" ng-model="textInfo.left" keycontrol />
					<input class="small" type="text" ng-model="textInfo.top" keycontrol />
					<input class="small" type="text" ng-model="textInfo.lineHeight" keycontrol />
					<input class="small" type="text" ng-model="textInfo.maxWidth" keycontrol />
				</div>
-->
				<div>
					<a class="buttonLink" ng-click="editText()" ng-href="#">Edit Text</a>
					<a class="buttonLink" ng-click="clearText()" ng-href="#">Clear Text</a>
<!--					<a class="buttonLink" id="EmailLink" ng-click="openEmail()" ng-href="#">Email to a Friend</a> -->
					<a class="buttonLink" id="DownloadLink" ng-href="{{downloadURL}}" download="picture.png">Download</a>
				</div>
			</section>
		</div>

	    <script type="text/ng-template" id="modal.html">
	        <div class="modal-header">
	            <h3>Send to your Friend!</h3>
	        </div>
	        <form name="UserForm" class="modal-body">
	        	<div><label>To (Email): </label><input type="email" ng-model="user.to" required /></label></div>
	        	<div><label>Name: </label><input ng-model="user.name" required /></label></div>
	        	<div><label>From (Email): </label><input type="email" ng-model="user.email" required /></label></div>
	        	<div><label>Subject: </label><input ng-model="user.subject" required ng-minlength="1"/></label></div>
	        	<div><label>Message: </label></div>
	        	<div><textarea ng-model="user.message" required ng-minlength="1"></textarea></div>
	        </form>
	        <div class="modal-footer">
	            <button ng-disabled="!UserForm.$valid" class="btn btn-primary" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	        </div>
	    </script>


	</main>

	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/angular-animate.js"></script>
<!--	<script type="text/javascript" src="lib/angular-route.js"></script> -->
	<script type="text/javascript" src="lib/ui-bootstrap-custom-0.9.0.js"></script>
	<script type="text/javascript" src="lib/ui-bootstrap-custom-tpls-0.9.0.js"></script>

	<script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>

	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/services.js"></script>
	<script type="text/javascript" src="js/directives.js"></script>
</body>
</html>
